body{
	font-family: "Roboto", sans-serif;
	color: #353535;
}
a{
	color: #1696d2;
}
#recipeContainer{
	max-width: 960px;
    margin: 0 auto;
}
#recipeTitle{
	font-size: 30px;
    font-weight: 900;
    margin-bottom: 10px;
    font-family: "Roboto Slab"
}
#recipeAuthor{
	font-size: 15px;
    margin-bottom: 20px;
}
#recipeAuthor a{
    text-decoration: none;
    color: #353535;
}
#recipeAuthor a:hover{
    text-decoration: underline;
    font-weight: bold;
}

#headerContainer{
	padding-bottom: 0px;
    border-bottom: 1px solid #353535
}
#summaryContainer{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 45px;
    display: block;
}
#summaryYield{
	display: inline-block;
    float: left;
    font-size: 14px;
    margin-right: 59px;
}
#summaryTime{
	display: inline-block;
    float: left;
    font-size: 14px;
}
#ratingCount{
    display: inline-block;
    float: right;
    font-size: 14px;
    margin-right: 104px;
    position: relative;
    top: 2px;
    font-style: italic;
}
#summaryRating{
    display: inline-block;
    width: 100px;
    float: right;
    position: relative;
}
#summaryRating span{
    width: calc(100% - 4px);
    left: 57px;
    border-bottom: 17px solid #fdbf11;
    position: absolute;
    top: 1px;
    left: 2px;
}
#summaryRating img{
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

.smallLabel{
    font-family: "Roboto Slab";
    font-weight: 900;
    margin-right: 20px;
}
#descriptionContainer{
	margin-top: 30px;
}
#recipeDescription{
	width: calc(50% - 40px);
    font-size: 18px;
    line-height: 26px;
    font-weight: 100;
    float: left;
    display: inline-block;
    padding-right: 40px;
}
#recipeDescription.fullWidthDescription{
	width: 100%;
	margin-bottom: 20px;
}
#recipeImage{
    width: 50%;
    display: inline-block;
    float: left;
}
#recipeImage.fullWidthDescription{
	display: none;
}
#recipeImage img{
	width: 100%;
}
#tags{
    margin-top: 50px;
    display: inline-block;
    clear: both;
    width: 100%;
}
.tag{
	display: inline-block;
	float: left;
	margin-right: 15px;
}
.tag a{
	text-transform: capitalize;
	text-decoration: none;
	color: #1696d2;
}
#mainContent{
	margin-top: 59px;
}
#ingredientsContainer{
    width: 30%;
    float: left;
}
#stepsContainer{
    width: calc(70% - 70px);
    margin-left: 70px;
    display: inline-block;
}
ul#ingredients{
	padding-left: 18px;
}
li.ingredient{
	list-style: circle;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 600;
}
#steps{
	padding-left: 0px;
}
li.step{
	list-style: none;
    margin-bottom: 40px;
}
.stepHead{
    font-family: "Roboto Slab";
    font-weight: 100;
    font-size: 16px;
    margin-bottom: 9px;
}
.stepText{
    line-height: 21px;
    font-size: 14px;
}

@media(max-width: 1000px){
	#recipeContainer{
		width: calc(100% - 40px);
	}
}
@media(max-width: 768px){
	#recipeDescription {
		width: 100%;
	    font-size: 14px;
	    line-height: 17px;
	    font-weight: 400;
	    margin-top: 17px;
	    margin-bottom: 20px;
	}
	#recipeImage{
		width: 100%;
	}
	#ingredientsContainer{
	    width: 100%;
	}
	#stepsContainer{
	    width: 100%;
	    margin-left: 0px;
	    margin-top: 40px;
	}
}
@media print{
	#recipeImage, #tags{
		display: none;
	}
}